# Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=your_mysql_password
DB_NAME=sms_db

# Security
JWT_SECRET=your_jwt_secret_key_here

# Microservices Ports
PORT_SUPER_ADMIN=5001
PORT_SCHOOL_ADMIN=5002
PORT_STAFF=5003
PORT_STUDENT_PARENT=5004
